@charset "UTF-8";
.debug {
  border: 1px solid red; }

.tw-link {
  font-size: 11pt;
  color: #55acee !important; }

.maxwidth {
  width: 100%; }

.eater {
  font-family: 'Eater';
  margin-right: 10px; }

.menubutton {
  margin-right: 15px;
  margin-top: 10px;
  font-size: 24pt;
  opacity: 0.6; }

.mobileonly {
  display: none; }
  @media screen and (max-width: 767px) {
    .mobileonly {
      display: block; } }

.pconly {
  display: block; }
  @media screen and (max-width: 767px) {
    .pconly {
      display: none; } }

.list-group-item {
  background-color: #F5F5F5; }

.closebutton {
  color: #c8c8c8;
  font-size: 18pt;
  cursor: pointer; }

.menuisactive {
  background-color: rgba(255, 255, 255, 0.95) !important; }

.menubutton {
  display: none; }

.navbar {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  min-height: 0; }

.navbar-nav {
  margin-right: 15px;
  margin-top: 2px;
  float: right; }
  @media screen and (max-width: 767px) {
    .navbar-nav {
      margin: 0;
      float: none; } }

.navbar-toggle {
  margin-right: 0; }

.modal-body {
  background-color: rgba(0, 0, 0, 0.95);
  font-family: 'Lato';
  font-weight: 400; }
  .modal-body h4 {
    font-family: 'Eater', serif;
    font-size: 12pt;
    color: red; }
  .modal-body p {
    color: #FFF;
    padding-left: 10px; }

.slick-slider {
  margin-bottom: 0; }

html {
  overflow: auto; }

body {
  background-image: url("./img/bg02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.94;
  overflow: hidden;
  font-size: 10pt;
  font-family: -apple-system, 'Lato', ’Lucida Grande’, ‘Helvetica Neue’, ’Hiragino Kaku Gothic ProN’, ‘游ゴシック’, ’メイリオ’, meiryo, sans-serif;
  font-weight: 400; }
  body h2 {
    font-weight: 800;
    font-size: 20pt;
    letter-spacing: 0.06em;
    margin-bottom: 50px; }
  body #cruelreasonofficialwebsite {
    background-color: #FFF;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 28pt;
    padding: 0;
    color: #000; }
    @media screen and (max-width: 767px) {
      body #cruelreasonofficialwebsite {
        font-size: 15pt;
        padding: 10px 5px 5px 10px; } }
  body #header {
    text-align: center;
    font-family: 'Lato';
    font-size: 17pt;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0);
    z-index: 10000; }
    body #header #gnavi {
      background: rgba(255, 255, 255, 0.55); }
      @media screen and (max-width: 767px) {
        body #header #gnavi {
          background: rgba(255, 255, 255, 0.8); } }
    body #header a {
      text-decoration: none;
      color: #000; }
      body #header a ul {
        list-style: none; }
        body #header a ul li {
          display: inline-block;
          margin-left: 20px;
          margin-right: 20px; }
    @media screen and (max-width: 767px) {
      body #header {
        position: fixed;
        width: 100%;
        padding: 0; } }
  body #mobileheader {
    margin-top: 10px;
    font-family: 'Lato';
    font-size: 17pt;
    font-weight: 300; }
  body #info {
    padding-top: 100px;
    padding-bottom: 100px; }
  body #contents .photoview {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto; }
  body #movie {
    background-image: url("./img/bg01.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px; }
  body #member {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%; }
    body #member a {
      color: red; }
    body #member .profile {
      z-index: 100000;
      background-color: rgba(0, 0, 0, 0.3);
      color: #000; }
    body #member .person {
      margin-top: 40px; }
      @media screen and (max-width: 767px) {
        body #member .person {
          padding-left: 30px;
          padding-right: 30px; } }
      body #member .person .mao {
        margin-top: 150px; }
        @media screen and (max-width: 767px) {
          body #member .person .mao {
            margin-top: 0; } }
      body #member .person .yuri {
        margin-top: 150px; }
        @media screen and (max-width: 767px) {
          body #member .person .yuri {
            margin-top: 0; } }
    body #member img.profileimg {
      width: 100%; }
    body #member img.tw {
      width: 40px; }
  body #live {
    background-color: rgba(255, 255, 255, 0.96);
    padding-top: 100px;
    padding-bottom: 100px; }
    body #live .live {
      font-family: ’Hiragino Kaku Gothic ProN’, ‘游ゴシック’, ’メイリオ’, meiryo, sans-serif; }
      body #live .live h4 {
        padding-left: 5px;
        color: #000; }
      body #live .live .date {
        color: #F030A0;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14pt;
        font-weight: 900;
        letter-spacing: 0.12em;
        font-family: 'Merriweather'; }
      body #live .live .title {
        font-size: 13pt;
        font-family: 'Eater', serif; }
  body #ticket {
    background-color: rgba(128, 128, 128, 0.96);
    padding-top: 100px;
    padding-bottom: 100px; }
    body #ticket a {
      color: red; }
  body #contact {
    background-color: rgba(255, 255, 255, 0.96);
    padding-top: 100px;
    padding-bottom: 100px; }
  body #footer {
    background-color: #FFFFFF;
    padding-top: 10px; }
