@charset "UTF-8";
body {
  font-family: 'Lato', -apple-system, ’Lucida Grande’, ‘Helvetica Neue’, ’Hiragino Kaku Gothic ProN’, ‘游ゴシック’, ’メイリオ’, meiryo, sans-serif;
  font-weight: 400;
  background-color: #111;
  color: #fff; }

a {
  color: #fff;
  text-decoration: underline; }

h1 {
  font-size: 24pt;
  border-bottom: 1px solid #fff; }

h2 {
  font-size: 20pt;
  padding-left: 5px; }

h3 {
  color: #F00;
  font-size: 17pt;
  margin-top: 25px; }

h4 {
  font-size: 15pt;
  margin-top: 40px; }
