.row
  .person.col-md-5
    .hideto
      a(href="#hideto-profile" data-toggle="modal" data-target="#hideto-profile")
        h3.eater Vocal. hideto
        img.profileimg(src="./img/201604/hideto.jpg")
      #hideto-profile.profile.modal.fade(role="dialog")
        .modal-dialog(role="document")
          .modal-content
            .modal-body
              .closebutton.pull-right
                span.glyphicon.glyphicon-remove-circle
              h4 Name
              p 英人
              h4 Part
              p Vocal
              h4 Birthday
              p 3/9
              h4 Blood Type
              p O
              h4 Social Links
              a.tw-link(href="https://twitter.com/gigahideto")
                img.tw(src="./img/twitter.png")
                | Twitter

  .person.col-md-5.col-md-offset-2
    .mao
      a(href="#mao-profile" data-toggle="modal" data-target="#mao-profile")
        h3.eater.text-right Guitar. mao
        img.profileimg.pull-right(src="./img/201604/mao.jpg")
      #mao-profile.profile.modal.fade(role="dialog")
        .modal-dialog(role="document")
          .modal-content
            .modal-body
              .closebutton.pull-right
                span.glyphicon.glyphicon-remove-circle
              h4 Name
              p mao
              h4 Part
              p Guitar
              h4 Birthday
              p 5/4
              h4 Blood Type
              p B
              h4 Social Links
              a.tw-link(href="https://twitter.com/maonyoro")
                img.tw(src="./img/twitter.png")
                | Twitter

.row
  .person.col-md-5
    .utamaru
      a(href="#utamaru-profile" data-toggle="modal" data-target="#utamaru-profile")
        h3.eater Bass. utamaru
        img.profileimg(src="./img/201604/utamaru.jpg")
      #utamaru-profile.profile.modal.fade(role="dialog")
        .modal-dialog(role="document")
          .modal-content
            .modal-body
              .closebutton.pull-right
                span.glyphicon.glyphicon-remove-circle
              h4 Name
              p うたまる
              h4 Part
              p Bass
              h4 Birthday
              p 7/23
              h4 Blood Type
              p A
              h4 Social Links
              a.tw-link(href="https://twitter.com/cruel_utamaru")
                img.tw(src="./img/twitter.png")
                | Twitter

  .person.col-md-5.col-md-offset-2
    .yuri
      a(href="#yuri-profile" data-toggle="modal" data-target="#yuri-profile")
        h3.eater.text-right Drums. yuri
        img.profileimg.pull-right(src="./img/201604/yuri.jpg")
      #yuri-profile.profile.modal.fade(role="dialog")
        .modal-dialog(role="document")
          .modal-content
            .modal-body
              .closebutton.pull-right
                span.glyphicon.glyphicon-remove-circle
              h4 Name
              p yuri
              h4 Part
              p Drums
              h4 Birthday
              p 2/13
              h4 Blood Type
              p O
              h4 Social Links
              a.tw-link(href="https://twitter.com/tesroayuri")
                img.tw(src="./img/twitter.png")
                | Twitter
