@charset "UTF-8";
.tw-link {
  font-size: 11pt;
  color: #55acee !important; }

.maxwidth {
  width: 100%; }

.eater {
  font-family: 'Eater';
  margin-right: 10px; }

.menubutton {
  margin-right: 15px;
  margin-top: 10px;
  font-size: 24pt;
  opacity: 0.9; }

.mobileonly {
  display: none; }
  @media screen and (max-width: 767px) {
    .mobileonly {
      display: block; } }

.pconly {
  display: block; }
  @media screen and (max-width: 767px) {
    .pconly {
      display: none; } }

.list-group-item {
  background-color: #F5F5F5; }

.closebutton {
  color: #c8c8c8;
  font-size: 18pt;
  cursor: pointer; }

.color-red {
  color: #F00; }

.right5px {
  padding-right: 5px; }

.bottom10px {
  padding-bottom: 10px; }

input.copyable {
  width: 150px;
  background-color: rgba(255, 255, 255, 0.86);
  border: 0;
  border-style: none;
  border-radius: 3px;
  color: #555;
  padding: 2px;
  padding-left: 5px; }

.menuisactive {
  background-color: rgba(0, 0, 0, 0.95) !important; }

.menubutton {
  display: none; }

.navbar {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  min-height: 0; }

.navbar-nav {
  margin-right: 15px;
  margin-top: 2px;
  float: right; }
  @media screen and (max-width: 767px) {
    .navbar-nav {
      margin: 0;
      float: none; } }

.navbar-toggle {
  margin-right: 0; }

.modal-backdrop {
  position: static; }

.modal-body {
  background-color: rgba(0, 0, 0, 0.95);
  font-family: 'Noto Sans';
  font-weight: 400; }
  .modal-body h4 {
    font-family: 'Eater', serif;
    font-size: 12pt;
    color: red; }
  .modal-body p {
    color: #FFF;
    padding-left: 10px; }

.slick-slider {
  margin-bottom: 0; }

.twitter-timeline {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

html {
  overflow: auto; }

body {
  opacity: 0.94;
  overflow: hidden;
  font-size: 10pt;
  font-family: 'Noto Sans', -apple-system, ’Lucida Grande’, ‘Helvetica Neue’, ’Hiragino Kaku Gothic ProN’, ‘游ゴシック’, ’メイリオ’, meiryo, sans-serif;
  font-weight: 400; }
  body #background-hack {
    z-index: -1;
    background-image: url("./img/bg02.jpg");
    background-size: 150% 1000px;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  body h2 {
    font-weight: 800;
    font-size: 28pt;
    letter-spacing: 0.06em;
    margin-bottom: 50px;
    font-family: 'Eater', serif; }
    @media screen and (max-width: 767px) {
      body h2 {
        font-size: 22pt; } }
  body #cruelreasonofficialwebsite {
    background-color: transparent;
    padding: 0;
    padding-top: 35px; }
    body #cruelreasonofficialwebsite h1 {
      text-align: right;
      font-family: 'Eater', serif;
      font-size: 26pt;
      letter-spacing: 0.28em;
      color: #f00; }
      body #cruelreasonofficialwebsite h1 span {
        font-size: 36pt; }
    @media screen and (max-width: 767px) {
      body #cruelreasonofficialwebsite {
        padding: 10px 5px 5px 10px; }
        body #cruelreasonofficialwebsite h1 {
          font-size: 17pt;
          text-align: center;
          letter-spacing: 0.14em; }
          body #cruelreasonofficialwebsite h1 span {
            font-size: 22pt; } }
  body #header {
    background-color: transparent;
    z-index: 10000;
    text-align: center; }
    body #header #gnavi {
      font-family: 'Eater', serif;
      font-size: 14pt;
      margin-left: 200px;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #000 100%);
      padding-right: 20px; }
      @media screen and (max-width: 1149px) {
        body #header #gnavi {
          font-size: 13pt;
          margin-left: 0;
          padding-right: 0; } }
      @media screen and (max-width: 767px) {
        body #header #gnavi {
          background: rgba(0, 0, 0, 0.9); } }
    body #header a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5); }
      body #header a:hover, body #header a:active {
        background-color: rgba(80, 80, 80, 0.9); }
      body #header a ul {
        list-style: none; }
        body #header a ul li {
          display: inline-block;
          margin-left: 20px;
          margin-right: 20px; }
    @media screen and (max-width: 767px) {
      body #header {
        position: fixed;
        width: 100%;
        padding: 0; } }
  body #information {
    background-color: rgba(90, 90, 90, 0.4);
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px; }
  body #contents {
    padding-top: 10px;
    padding-bottom: 50px; }
    body #contents .photoview {
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto; }
  body #movie {
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px; }
  body #member {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%; }
    body #member a {
      color: red; }
    body #member .profile {
      z-index: 10001;
      background-color: rgba(0, 0, 0, 0.3);
      color: #000; }
    body #member .person {
      margin-top: 40px; }
      @media screen and (max-width: 767px) {
        body #member .person {
          padding-left: 30px;
          padding-right: 30px; } }
      body #member .person .mao {
        margin-top: 150px; }
        @media screen and (max-width: 767px) {
          body #member .person .mao {
            margin-top: 0; } }
      body #member .person .yuri {
        margin-top: 150px; }
        @media screen and (max-width: 767px) {
          body #member .person .yuri {
            margin-top: 0; } }
    body #member img.profileimg {
      width: 100%; }
    body #member img.tw {
      width: 40px; }
  body #discography {
    background-color: rgba(150, 150, 150, 0.76);
    padding-top: 100px;
    padding-bottom: 100px; }
    body #discography #disc {
      padding-bottom: 25px; }
    body #discography .soundcloud {
      padding-bottom: 20px; }
    body #discography #mugenhouyou {
      z-index: 10001; }
  body #live {
    background-color: rgba(255, 255, 255, 0.76);
    padding-top: 100px;
    padding-bottom: 100px; }
    body #live .live {
      font-family: ’Hiragino Kaku Gothic ProN’, ‘游ゴシック’, ’メイリオ’, meiryo, sans-serif; }
      body #live .live h4 {
        padding-left: 5px;
        color: #000; }
      body #live .live .date {
        color: #F030A0;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18pt;
        font-weight: 900;
        letter-spacing: 0.12em;
        font-family: 'Merriweather'; }
      body #live .live .title {
        font-size: 13pt;
        font-family: 'Eater', serif; }
  body #ticket {
    background-color: rgba(128, 128, 128, 0.76);
    padding-top: 100px;
    padding-bottom: 100px; }
    body #ticket a {
      color: red; }
  body #mailmagazine {
    background-color: rgba(255, 255, 255, 0.76);
    padding-top: 100px;
    padding-bottom: 100px; }
    body #mailmagazine span {
      font-size: 105%;
      padding-left: 2px;
      padding-right: 2px; }
  body #contact {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    padding-top: 100px;
    padding-bottom: 100px; }
  body #footer {
    background-color: #FFFFFF;
    padding-top: 10px; }
