- var num='023'
.col-md-6
  .live.panel.panel-default
    .panel-heading
      a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
        .date 4/16
        .title Real Style Creation＆浦和Narciss PRESENTS VIVALET解散主催ツアー『VIVALET Presents 「赤い爪痕」』
          span.caret
    .collapse.panel-body(id="liveinfo"+num)
      .row
        .col-md-12
          :markdown
            #### 時間
            - OPEN 16:00 / START 16:30
            #### チケット
            - 前売 3300円 / 当日 4000円 (Drink代別途 500円)
            - 入場順 A→B→当日券
              - A. イープラス [販売ページ](http://eplus.jp/sys/T1U14P0010843P006001P002220967P0030001) 3/25より
              - B. バンド予約 [チケット予約フォーム](https://form.jotform.me/60470680579463) にて取り置きします
            #### 会場
            - 浦和ナルシス
            #### 出演
            - CRUEL REASON
            - Geomatrium
            - Dragon†Hearts
            - VIVALET
            - Faith.
            - G.S.I
            - Schwartz:Mist
            - Sizarp

- var num='024'
.col-md-6
  .live.panel.panel-default
    .panel-heading
      a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
        .date 5/4
        .title - mao Birthday -
          span.caret
    .collapse.panel-body(id="liveinfo"+num)
      .row
        .col-md-12
          :markdown
            #### 時間
            - 未定
            #### チケット
            - 未定
            #### 会場
            - 浦和ナルシス
            #### 出演
            - CRUEL REASON
            - etc...

- var num='025'
.col-md-6
  .live.panel.panel-default
    .panel-heading
      a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
        .date 5/31
        .title 1周年記念ワンマン
          span.caret
    .collapse.panel-body(id="liveinfo"+num)
      .row
        .col-md-12
          :markdown
            #### 時間
            - OPEN 18:30 / START 19:00
            #### チケット
            - 前売 3000円 / 当日 3500円 (Drink代 別途500円を入場時にお支払いいただきます)
            - 前売りチケット
              - 1. 3/9(木)ライブの物販にて発売開始(No.1～シャッフル)
              - 2.バンド予約
              - 3.当日券
            #### 会場
            - 浦和ナルシス
            #### 出演
            - CRUEL REASON

- var num='026'
.col-md-6
  .live.panel.panel-default
    .panel-heading
      a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
        .date 6/11
        .title ジェナイト祭り!!
          span.caret
    .collapse.panel-body(id="liveinfo"+num)
      .row
        .col-md-12
          :markdown
            #### 時間
            - 未定
            #### チケット
            - 未定
            #### 会場
            - 浦和ナルシス
            #### 出演
            - CRUEL REASON
            - etc...
