.row
  - var num='020'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
          .date 2/13
          .title Unlimited colors～CRUEL REASON yuri BIRTHDAY～
            span.caret
      .collapse.panel-body(id="liveinfo"+num)
        .row
          .col-md-12
            :markdown
              #### 会場
              - 浦和ナルシス
              #### 詳細
              - 詳細決定次第更新いたします

  - var num='021'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
          .date 3/9
          .title Unlimited colors～CRUEL REASON 英人 BIRTHDAY～
            span.caret
      .collapse.panel-body(id="liveinfo"+num)
        .row
          .col-md-12
            :markdown
              #### 会場
              - 浦和ナルシス
              #### 詳細
              - 詳細決定次第更新いたします

