.row
  - var num='016'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
          .date 12/11
          .title Sky is the limit!
            span.caret
      .collapse.panel-body(id="liveinfo"+num)
        .row
          .col-md-12
            :markdown
              #### 会場
              - 浦和ナルシス
              #### 時間
              - OPEN 17:00／START17:30 (予定)
              #### チケット
              - 前売 3000円／当日 3500円 (Drink代別途500円をお支払いいただきます)
              #### 出演
              - CRUEL REASON
              - the sexual damage
              - Type『G』
              - ReWilD
              - コインロッカーベイビー(ズ)
              - ...and more

  - var num='017'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
          .date 12/29
          .title ～漆黒のシンフォニー～ 2016 FINAL
            span.caret
      .collapse.panel-body(id="liveinfo"+num)
        .row
          .col-md-12
            :markdown
              #### 会場
              - 浦和ナルシス
              #### 時間
              - OPEN 16:00／START16:30 (予定)
              #### チケット
              - 前売 3000円／当日 3500円 (Drink代別途500円をお支払いいただきます)
              #### 出演
              - CRUEL REASON
              - DANGER☆GANG
              - [enver]brain
              - ROMiO.
              - RF
              - 帰ってきたなんちゃらセッション
                - Vo.トシ(ex.RagEnd)
                - Gu.nagisa(-jiji-)
                - Gu.圭
                - Ba.悠(Geomatrium)
                - Dr.toshi.(Edge of Blacksmiths.)
              - Faith

.row
  - var num='018'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
          .date 1/7
          .title 冬の大罪 vol.1
            span.caret
      .collapse.panel-body(id="liveinfo"+num)
        .row
          .col-md-12
            :markdown
              #### 会場
              - Shibuya REX
              #### 時間
              - 未定
              #### チケット
              - [イープラス購入ページ](http://eplus.jp/sys/T1U14P0010843P006001P002209370P0030001) 12/10(土)発売
              #### 出演
              - CRUEL REASON
              - MIZTAVLA
              - JILUKA
              - RAINDIA
              - LAGLESS
              - BabyKingdom
              - XIX -nineteen-


  - var num='019'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
          .date 1/21
          .title Narciss PRESENTS ベティ LAST LIVE EVENT ～finale of monochrome～
            span.caret
      .collapse.panel-body(id="liveinfo"+num)
        .row
          .col-md-12
            :markdown
              #### 会場
              - 浦和ナルシス
              #### 時間
              - OPEN 16:30／START17:00 (予定)
              #### チケット
              - 前売 3000円／当日 3500円 (Drink代別途500円をお支払いいただきます)
              - バンド＆ナルシス予約 / 当日券
              #### 出演
              - CRUEL REASON
              - ベティ
              - ROMiO.
              - DeviL Kitty
              - メアリィ
              - Sizarp
