.row
  - var num='028'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
          .date 7/1
          .title Vercia新メンバー加入記念&音源発売主催 新生Vercia『ファナティシズム2 ～白と黒の狂信者～』
            span.caret
      .collapse.panel-body(id="liveinfo"+num)
        .row
          .col-md-12
            :markdown
              #### 時間
              - open16:00 start16:30
              #### チケット
              - 前売3500円 当日4000円 (Drink代として別途600円を入場時に頂きます)
              #### 会場
              - 池袋CYBER
              #### 出演
              - CRUEL REASON
              - Vercia
              - Embrace
              - ヒャクモノガタリ
              - HuV
              - CATALYST
              - GREAT CONFUSION

  - var num='027'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
          .date 7/23
          .title Unlimited colors～CRUEL REASON うたまるBirthday～
            span.caret
      .collapse.panel-body(id="liveinfo"+num)
        .row
          .col-md-12
            :markdown
              #### 時間
              - open16:30 start17:00(予定)
              #### チケット
              - 前売3000円 当日3500円 (Drink代として別途500円を入場時に頂きます)
              #### 会場
              - 浦和ナルシス
              #### 出演
              - CRUEL REASON
              - DANGER☆GANG
              - MAD Night
              - etc...

.row
  - var num='029'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
          .date 8/6
          .title 『妖華乱舞』
            span.caret
      .collapse.panel-body(id="liveinfo"+num)
        .row
          .col-md-12
            :markdown
              #### 時間
              - open17:00 start17:30(予定)
              #### チケット
              - 前売3000円 当日3500円 (Drink代として別途500円を入場時に頂きます)
              #### 会場
              - 浦和ナルシス
              #### 出演
              - CRUEL REASON
              - ROMiO.
              - MAD Night
              - バレッタ
              - 眼鏡ギタァ
              - raith.
              - …and more

  - var num='030'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
          .date 8/16
          .title 漆黒のシンフォニー at 埼玉会館
            span.caret
      .collapse.panel-body(id="liveinfo"+num)
        .row
          .col-md-12
            :markdown
              ##### [詳細はこちら](./tamakan2017.html)
              #### 時間
              - open11:00 start11:30
              #### チケット
              - 前売4000円 当日4800円 (Drink代として別途500円を入場時に頂きます)
              #### 会場
              - 埼玉会館 小ホール
              #### 出演
              - CRUEL REASON 他
