- var num='021'
.col-md-6
  .live.panel.panel-default
    .panel-heading
      a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
        .date 3/9
        .title Unlimited colors～CRUEL REASON 英人 BIRTHDAY～
          span.caret
    .collapse.panel-body(id="liveinfo"+num)
      .row
        .col-md-12
          :markdown
            #### 会場
            - 浦和ナルシス
            #### 詳細
            - 詳細決定次第更新いたします
            #### その他
            - 5/31ワンマンチケットを販売開始いたします

- var num='022'
.col-md-6
  .live.panel.panel-default
    .panel-heading
      a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
        .date 3/28
        .title タイトル未定
          span.caret
    .collapse.panel-body(id="liveinfo"+num)
      .row
        .col-md-12
          :markdown
            #### 会場
            - 池袋Blackhole
            #### 詳細
            - 詳細決定次第更新いたします

- var num='023'
.col-md-6
  .live.panel.panel-default
    .panel-heading
      a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
        .date 4/16
        .title Real Style Creation & Narciss PRESENTS
          span.caret
    .collapse.panel-body(id="liveinfo"+num)
      .row
        .col-md-12
          :markdown
            #### 時間
            - 未定
            #### チケット
            - 未定
            #### 会場
            - 浦和ナルシス
            #### 出演
            - CRUEL REASON
            - etc...

- var num='024'
.col-md-6
  .live.panel.panel-default
    .panel-heading
      a.list-group-item(href="#liveinfo"+num data-toggle="collapse" style="border:0")
        .date 5/31
        .title 1周年記念ワンマン
          span.caret
    .collapse.panel-body(id="liveinfo"+num)
      .row
        .col-md-12
          :markdown
            #### 時間
            - OPEN 18:30 / START 19:00
            #### チケット
            - 前売 3000円 / 当日 3500円 (Drink代 別途500円を入場時にお支払いいただきます)
            - 前売りチケット
              - 1. 3/9(木)ライブの物販にて発売開始(No.1～シャッフル)
              - 2.バンド予約
              - 3.当日券
            #### 会場
            - 浦和ナルシス
            #### 出演
            - CRUEL REASON
