doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    //meta(name='viewport' content='width=device-width, shrink-to-fit=yes')
    title CRUEL REASON Official Website
    // library
    script(type='text/javascript' src='lib/jquery-1.12.2.min.js')
    script(type='text/javascript' src='lib/bootstrap-3.3.6-dist/js/bootstrap.min.js')
    link(rel='stylesheet' href='lib/bootstrap-3.3.6-dist/css/bootstrap.min.css')
    script(type='text/javascript' src='lib/smooth-scroll-master/dist/js/smooth-scroll.min.js')
    // todo sticky-headerどっちか使ってどっちか消す↓
    script(type='text/javascript' src='lib/garand-sticky-9434b1f/jquery.sticky.js')
    script(type='text/javascript' src='lib/sticky-kit.min.js')
    // 自前ソースは最後に読み込む
    script(type='text/javascript' src='./index.js')
    link(rel='stylesheet' href='./index.css')
    // web fonts
    link(href='https://fonts.googleapis.com/css?family=Codystar:400,300' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,100' rel='stylesheet' type='text/css')

  body
    #header
      .container
        .row
          .col-md-2.col-md-offset-1.debug
            a(href="#member" "data-scroll") Member
          .col-md-2.debug
            a(href="#liveschedule" "data-scroll") Live Schedule
          .col-md-2.debug
            a(href="#") Ticket
          .col-md-2.debug
            a(href="#") Discography
          .col-md-2.debug
            a(href="#") Contact

    #div1
      .photoview
        img.maxwidth(src="http://placehold.jp/1280x720.png")
      .container
        .row
          .col-md-12

    #member
      .container
        .row
          .col-md-12
            h2.center Member
        .row
          .col-md-6
            .person
              h3 英人
          .col-md-6.col-md-offset-6
            .person
              h3 mao
          .col-md-6
            .person
              h3 うたまる
          .col-md-6.col-md-offset-6
            .person
              h3 yuri

    #liveschedule
      .container
        .row(style="height:1000px")
          .col-md-12
            h2.center Live Schedule

    #div4
      .container
        .row
          p aiueo

    #contact
      .container
        .row

    #footer
