// media query setting
$large: "screen and (max-width: 1350px)"
$middle: "screen and (max-width: 1149px)"
$mobile: "screen and (max-width: 767px)"

// class
.tw-link
  font-size: 11pt
  color: #55acee !important
.maxwidth
  width: 100%
.eater
  font-family: 'Eater'
  margin-right: 10px
.menubutton
  margin-right: 15px
  margin-top: 10px
  font-size: 24pt
  opacity: 0.9
.mobileonly
  display: none
  @media #{$mobile}
    display: block
.pconly
  display: block
  @media #{$mobile}
    display: none
.list-group-item
  background-color: #F5F5F5
.closebutton
  color: rgba(200,200,200,1)
  font-size: 18pt
  cursor: pointer
.color-red
  color: #F00
.right5px
  padding-right: 5px
.bottom10px
  padding-bottom: 10px

// for menu-button
.menuisactive
  background-color: rgba(0,0,0,0.95) !important
.menubutton
  display: none

// override bootstrap
.navbar
  margin-bottom: 0
  background-color: rgba(255,255,255,0)
  min-height: 0
.navbar-nav
  margin-right: 15px
  margin-top: 2px
  float: right
  @media #{$mobile}
    margin: 0
    float: none
.navbar-toggle
  margin-right: 0
.modal-backdrop
  position: static
.modal-body
  background-color: rgba(0,0,0,0.95)
  font-family: 'Lato'
  font-weight: 400
  h4
    font-family: 'Eater', serif
    font-size: 12pt
    color: red
  p
    color: #FFF
    padding-left: 10px

// override slick.js
.slick-slider
  margin-bottom: 0

.twitter-timeline
  width: 100%
  background-color: rgba(0,0,0,0.3)

html
  overflow: auto

body
  opacity: 0.94
  overflow: hidden
  font-size: 10pt
  font-family: 'Lato', -apple-system, ’Lucida Grande’, ‘Helvetica Neue’, ’Hiragino Kaku Gothic ProN’, ‘游ゴシック’, ’メイリオ’, meiryo, sans-serif
  font-weight: 400

  // 背景設定用
  // iOS(だけ?)はbackground-attachementが効かないので無理やり
  #background-hack
    z-index: -1
    background-image: url("./img/bg02.jpg")
    background-size: 150% 1000px
    background-repeat: no-repeat
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0


  h2
    font-weight: 800
    font-size: 28pt
    letter-spacing: 0.06em
    margin-bottom: 50px
    font-family: 'Eater', serif
    @media #{$mobile}
      font-size: 22pt

  //------------------------------------
  #cruelreasonofficialwebsite
    h1
      text-align: right
      font-family: 'Eater', serif
      font-size: 26pt
      letter-spacing: 0.28em
      color: #f00
      span
        font-size: 36pt
    background-color: rgba(0,0,0,0)
    padding: 0
    padding-top: 35px
    //padding-right: 11%
    @media #{$mobile}
      h1
        font-size: 17pt
        text-align: center
        letter-spacing: 0.14em
        span
          font-size: 22pt
      padding: 10px 5px 5px 10px

  //------------------------------------
  #header
    background-color: rgba(0,0,0,0)
    z-index: 10000
    text-align: center
    #gnavi
      font-family: 'Eater', serif
      font-size: 14pt
      margin-left: 200px
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, #000 100%)
      padding-right: 20px
      @media #{$middle}
        font-size: 13pt
        margin-left: 0
        padding-right: 0
      @media #{$mobile}
        background: rgba(0,0,0,0.9)
    // グローバルメニュー内
    a
      text-decoration: none
      color: rgba(255,255,255,0.5)
      &:hover, &:active
        background-color: rgba(80,80,80,0.9)
      ul
        list-style: none
        li
          display: inline-block
          margin-left: 20px
          margin-right: 20px
    @media #{$mobile}
      position: fixed
      width: 100%
      padding: 0

  //------------------------------------
  #information
    background-color: rgba(90,90,90,0.4)
    color: rgba(255,255,255,0.95)
    text-align: center
    padding-top: 100px
    padding-bottom: 100px

  //------------------------------------
  #contents
    padding-top: 10px
    padding-bottom: 50px
    .photoview
      max-width: 1280px
      margin-left: auto
      margin-right: auto

  //------------------------------------
  #movie
    background-size: cover
    padding-top: 100px
    padding-bottom: 100px

  //------------------------------------
  #member
    a
      color: red
    .profile
      z-index: 10001
      background-color: rgba(0,0,0,0.3)
      color: #000
    background-color: rgba(0,0,0,0.8)
    color: rgba(255,255,255,0.95)
    padding-top: 100px
    padding-bottom: 100px
    height: 100%
    .person
      margin-top: 40px
      @media #{$mobile}
        padding-left: 30px
        padding-right: 30px
      .hideto
      .mao
        margin-top: 150px
        @media #{$mobile}
          margin-top: 0
      .utamaru
      .yuri
        margin-top: 150px
        @media #{$mobile}
          margin-top: 0
    img.profileimg
      width: 100%
    img.tw
      width: 40px

  #discography
    background-color: rgba(150,150,150,0.76)
    padding-top: 100px
    padding-bottom: 100px
    #disc
      padding-bottom: 25px
    .soundcloud
      padding-bottom: 20px

  #live
    background-color: rgba(255,255,255,0.76)
    padding-top: 100px
    padding-bottom: 100px
    .live
      font-family: ’Hiragino Kaku Gothic ProN’, ‘游ゴシック’, ’メイリオ’, meiryo, sans-serif
      h4
        padding-left: 5px
        color: #000
      .date
        color: #F030A0
        padding-top: 10px
        padding-bottom: 10px
        font-size: 18pt
        font-weight: 900
        letter-spacing: 0.12em
        font-family: 'Merriweather'
      .title
        font-size: 13pt
        font-family: 'Eater', serif


  //------------------------------------
  #ticket
    background-color: rgba(128,128,128,0.76)
    padding-top: 100px
    padding-bottom: 100px
    a
      color: red


  //------------------------------------
  #mailmagazine
    background-color: rgba(255,255,255,0.76)
    padding-top: 100px
    padding-bottom: 100px
    span
      font-size: 105%
      padding-left: 2px
      padding-right: 2px
    input.copyable
      width: 150px
      border-style: none
      background-color: rgba(255,255,255,0.76)
      padding: 2px
      padding-left: 5px


  //------------------------------------
  #contact
    background-color: rgba(128,128,128,0.76)
    padding-top: 100px
    padding-bottom: 100px


  //------------------------------------
  #footer
    background-color: #FFFFFF
    padding-top: 10px
