doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    //meta(name='viewport' content='width=device-width, shrink-to-fit=yes')
    title CRUEL REASON Official Website
    // library
    link(rel='stylesheet' href='lib/bootstrap-3.3.6-dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='lib/animate.css')
    script(type='text/javascript' src='lib/jquery-1.12.2.min.js')
    // 自前ソースは最後に読み込む
    link(rel='stylesheet' href='./index.css')
    // web fonts
    link(href='https://fonts.googleapis.com/css?family=Codystar:400,300' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,100' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Eater' rel='stylesheet' type='text/css')

  body
    #header
      #pcmenu.pconly
        .container
          .row
            .col-md-10.col-md-offset-1
              ul
                li
                  a(href="#info" "data-scroll") Information
                li
                  a(href="#member" "data-scroll") Member
                li
                  a(href="#live" "data-scroll") Live Schedule
                li
                  a(href="#ticket" "data-scroll") Ticket
                //li
                //  a(href="#" "data-scroll") Discography
                li
                  a(href="#" "data-scroll") Contact
      .mobileonly.pull-right
        a.dropdown-toggle#open-mobilemenu(href="#mobilemenu") (+)　
        #mobilemenu
          ul
            li
              a.close-mobilemenu(href="#info") Information
            li
              a.close-mobilemenu(href="#member") Member
            li
              a.close-mobilemenu(href="#live") Live Schedule
            li
              a.close-mobilemenu(href="#") Ticket
            //li
            //  a.close-mobilemenu(href="#") Discography
            li
              a.close-mobilemenu(href="#") Contact

    #contents
      .photoview
        img.maxwidth(src="http://placehold.jp/1280x720.png")
      .container
        .row
          .col-md-12


    #info
      .container
        .row
          .col-md-12
            h2.text-center Information


    #member
      .container
        .row
          .col-md-12
            h2.text-center Member
        .row
          .person.col-md-5
            .hideto
              h3.eater Vocal. hideto
              img(src="http://placehold.jp/320x480.png")
          .person.col-md-5.col-md-offset-2
            .mao
              h3.eater.text-right Guitar. mao
              img.pull-right(src="http://placehold.jp/320x480.png")
        .row
          .person.col-md-5
            .utamaru
              h3.eater Bass. utamaru
              img(src="http://placehold.jp/320x480.png")
          .person.col-md-5.col-md-offset-2
            .yuri
              h3.eater.text-right Drums. yuri
              img.pull-right(src="http://placehold.jp/320x480.png")

    #live
      .container
        .row
          .col-md-12
            h2.text-center Live Schedule
        .row
          .col-md-3
            .card
              img.card-img-top(data-src="http://placehold.jp/320x240.png" alt="foobar")
              .card-block
                h4.card-title タイトル
                p.card-text ここにテキストがこのように入りますここにテキストがこのように入ります

    #ticket
      .container
        .row
          p aiueo

    #contact
      .container
        .row

    #footer

    script(type='text/javascript' src='lib/bootstrap-3.3.6-dist/js/bootstrap.min.js')
    script(type='text/javascript' src='lib/smooth-scroll-master/dist/js/smooth-scroll.min.js')
    // ライブラリ側1行変更コメントアウトしてます
    script(type='text/javascript' src='lib/animatedModal.js-master/animatedModal.js')
    // todo sticky-headerどっちか使ってどっちか消す↓
    script(type='text/javascript' src='lib/garand-sticky-9434b1f/jquery.sticky.js')
    script(type='text/javascript' src='lib/sticky-kit.min.js')
    script(type='text/javascript' src='./index.js')
