// media query setting
$large: "screen and (max-width: 1350px)"
$middle: "screen and (max-width: 991px)"
$mobile: "screen and (max-width: 767px)"
//@media #{$middle} {}

@mixin debug($color)
  border: 1px solid $color
.debug
  border: 1px solid red

// class
.tw-link
  font-size: 11pt
  color: #55acee !important
.maxwidth
  width: 100%
.eater
  font-family: 'Eater'
  margin-right: 10px
.menubutton
  margin-right: 15px
  margin-top: 10px
  font-size: 24pt
  opacity: 0.6
.mobileonly
  display: none
  @media #{$mobile}
    display: block
.pconly
  display: block
  @media #{$mobile}
    display: none
.list-group-item
  background-color: #F5F5F5
.closebutton
  color: rgba(200,200,200,1)
  font-size: 18pt
  cursor: pointer

// for menu-button
.menuisactive
  background-color: rgba(255,255,255,0.95) !important
.menubutton
  display: none

// override bootstrap
.navbar
  margin-bottom: 0
  background-color: rgba(255,255,255,0)
  min-height: 0
.navbar-nav
  margin-right: 15px
  margin-top: 2px
  float: right
  @media #{$mobile}
    margin: 0
    float: none
.navbar-toggle
  margin-right: 0
.modal-body
  background-color: rgba(0,0,0,0.95)
  font-family: 'Lato'
  font-weight: 400
  h4
    font-family: 'Eater', serif
    font-size: 12pt
    color: red
  p
    color: #FFF
    padding-left: 10px

// override slick.js
.slick-slider
  margin-bottom: 0

html
  overflow: auto

body
  background-image: url("./img/bg02.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-attachment: fixed
  opacity: 0.94
  overflow: hidden
  font-size: 10pt
  font-family: -apple-system, 'Lato', ’Lucida Grande’, ‘Helvetica Neue’, ’Hiragino Kaku Gothic ProN’, ‘游ゴシック’, ’メイリオ’, meiryo, sans-serif
  font-weight: 400

  h2
    font-weight: 800
    font-size: 20pt
    letter-spacing: 0.06em
    margin-bottom: 50px

  //------------------------------------
  #cruelreasonofficialwebsite
    background-color: #FFF
    font-family: 'Lato'
    font-weight: 300
    font-size: 28pt
    padding: 0
    //padding: 5px 5px 5px 30px
    color: #000
    @media #{$mobile}
      font-size: 15pt
      padding: 10px 5px 5px 10px

  //------------------------------------
  #header
    text-align: center
    font-family: 'Lato'
    font-size: 17pt
    font-weight: 300
    background-color: rgba(255,255,255,0)
    z-index: 10000
    //padding-top: 20px
    //padding-bottom: 10px
    #gnavi
      background: rgba(255,255,255,0.55)
      //background: linear-gradient(to right, rgba(255,255,255,0.4) 0%, #FFF 100%)
      @media #{$mobile}
        background: rgba(255,255,255,0.8)
    a
      text-decoration: none
      color: #000

      ul
        list-style: none
        li
          display: inline-block
          margin-left: 20px
          margin-right: 20px
    @media #{$mobile}
      position: fixed
      width: 100%
      padding: 0

  //------------------------------------
  #mobileheader
    margin-top: 10px
    font-family: 'Lato'
    font-size: 17pt
    font-weight: 300

  //------------------------------------
  #info
    padding-top: 100px
    padding-bottom: 100px

  //------------------------------------
  #contents
    .photoview
      max-width: 1280px
      margin-left: auto
      margin-right: auto

  //------------------------------------
  #movie
    background-image: url("./img/bg01.jpg")
    background-size: cover
    padding-top: 100px
    padding-bottom: 100px

  //------------------------------------
  #member
    a
      color: red
    .profile
      z-index: 100000
      background-color: rgba(0,0,0,0.3)
      color: #000
    background-color: rgba(0,0,0,0.8)
    color: rgba(255,255,255,0.95)
    padding-top: 100px
    padding-bottom: 100px
    height: 100%
    .person
      margin-top: 40px
      @media #{$mobile}
        padding-left: 30px
        padding-right: 30px
      .hideto
      .mao
        margin-top: 150px
        @media #{$mobile}
          margin-top: 0
      .utamaru
      .yuri
        margin-top: 150px
        @media #{$mobile}
          margin-top: 0
    img.profileimg
      width: 100%
    img.tw
      width: 40px

  #live
    background-color: rgba(255,255,255,0.96)
    padding-top: 100px
    padding-bottom: 100px
    .live
      font-family: ’Hiragino Kaku Gothic ProN’, ‘游ゴシック’, ’メイリオ’, meiryo, sans-serif
      h4
        padding-left: 5px
        color: #000
      .date
        color: #F030A0
        padding-top: 10px
        padding-bottom: 10px
        font-size: 14pt
        font-weight: 900
        letter-spacing: 0.12em
        font-family: 'Merriweather'
      .title
        font-size: 13pt
        font-family: 'Eater', serif


  //------------------------------------
  #ticket
    background-color: rgba(128,128,128,0.96)
    padding-top: 100px
    padding-bottom: 100px
    a
      color: red


  //------------------------------------
  #contact
    background-color: rgba(255,255,255,0.96)
    padding-top: 100px
    padding-bottom: 100px


  //------------------------------------
  #footer
    background-color: #FFFFFF
    padding-top: 10px
