doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=yes')
    title 2016年 漆黒のシンフォニー at 新宿BLAZE詳細 - CRUEL REASON Official Website
    // library
    link(rel='stylesheet' href='lib/bootstrap-3.3.6-dist/css/bootstrap.min.css')
    script(type='text/javascript' src='lib/jquery-1.12.2.min.js')
    //-- 自前ソースは最後に読み込む
    link(rel='stylesheet' href='./tamakan.css')
    // web fonts
    link(href='https://fonts.googleapis.com/css?family=Lato:400,100' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:900' rel='stylesheet' type='text/css')
    //link(href='https://fonts.googleapis.com/css?family=Eater' rel='stylesheet' type='text/css')

  body
    .row
      .col-md-6.col-md-offset-3
        :markdown
          # 2016年 漆黒のシンフォニー at 新宿BLAZE

          ## 日程
          * 2016年 8月17日(水) 18日(木) 19日(金)

          ## 会場
          * [新宿 BLAZE](http://shinjuku-blaze.com/)

          ## 時間
          * 開場12:45／開演13:15
            * (開場時間前、ロビー内開場予定)

          ## チケット料金
          * 前売￥3800／当日￥4500
            * (全席自由席/ドリンク代 別途￥500)

          ## 出演
    .row
      .col-md-2.col-md-offset-3
        :markdown
          ### 8月17日(水)
          * __[CRUEL REASON](http://cruel-reason.net)__
          * ギガマウス(GUEST)
          * Smileberry(GUEST)
          * VIVALET
          * KISS the CROWN
          * ジャックケイパー
          * スティグマ
          * ぞんび
          * DiSPiИA
          * TRA TRA TRA
          * 魃
          * FAZ
          * マーブル
          * MALISEND

      .col-md-2
        :markdown
          ### 8月18日(木)
          * アヴァンチック(GUEST)
          * 怪人二十面奏(GUEST)
          * Synk;yet(GUEST)
          * [[enver]brain](https://enver-brain.amebaownd.com/)
          * VRZEL
          * Dear
          * Dragon†Hearts
          * ハイパーポケット
          * 罰×ゲヰム
          * バラライカ
          * Faze
          * MEABEL
          * メディーナ
          * [ROMiO.](http://romioweb.com/)

      .col-md-2
        :markdown
          ### 8月19日(金)
          * ゴシップ(GUEST)
          * DADAROMA(GUEST)
          * ギャロ
          * KRAD
          * グラムヘイズ
          * シビレバシル
          * SIN.
          * 進化型プロジェクト[SKELETON act.1]
          * [DANGER☆GANG](http://dangergang.jimdo.com/)
          * FULL EFFECT'
          * BABY I LOVE YOU
          * マルコ
          * MeteoroiD
          * More

    .row
      .col-md-6.col-md-offset-3
        :markdown
          ## 入場順【A→B→C→D→E→F】
          ### 【Ａ】優先郵便振替
          * …受付中/ 8月 1日消印有効
          #### 第1回抽選
          * (入場整理番号順)→6/30到着分、7/1以降到着分→連日抽選◎
          * 郵便局にて __青色の振込用紙__ を使用し、必要事項をご記入の上お振込下さい。

        pre
          口座番号：００１８０－６－７２９０４４
          加入者名：ＴＩＣＫＥＴ　ＣＬＵＢ
          通信欄：①希望日 ②枚数(各日程申し込み用紙一枚にてお一人様４枚まで)
          ③合計金額(\3800×枚数＋送料手数料\500)④住所 ⑤氏名 ⑥電話番号 ⑦お目当てのバンド名

    .row
      .col-md-6.col-md-offset-3
        :markdown
          #### 注意
          * 振込用紙は各日程毎に1枚ずつ使用して下さい。(1枚の振込用紙で複数の日程を申し込まない様にして下さい。)
          * 振込用紙1枚に対しチケット合計金額に加え、送料手数料￥500をあわせてお振込み下さい。郵便局の手数料とは異なりますので、ご注意下さい。
          * [受領書]はAチケット購入の証明となりますので、チケットがお手元に届くまで大切に保管下さい。

          ### 【Ｂ】プレイガイド Ticketpay
          * FamilyMartのfamiパス/ 6/15(水)発売( [http://ticketpay.jp/](http://ticketpay.jp/) )
            * [17日Ticktpay購入リンク](https://ticketpay.jp/booking/?event_id=4211) (イベントコード：F96671bd5e5)
            * [18日Ticktpay購入リンク](https://ticketpay.jp/booking/?event_id=4212) (イベントコード：F6bccc009a4)
            * [19日Ticktpay購入リンク](https://ticketpay.jp/booking/?event_id=4213) (イベントコード：F068e1b552a)
          ### 【Ｃ】浦和ナルシス店頭販売
          * 7/17～8/15迄 連日14:00～22:00
          ### 【Ｄ】各バンド販売
          ### 【Ｅ】浦和ナルシス予約
          * 7/17～8/15迄 連日14:00～22:00)
          * TEL 048-824-8771
          * MAIL narciss@zmf.co.jp
          ### 【Ｆ】:当日券

    .row
      .col-md-6.col-md-offset-3
        hr
        :markdown
          #### 主催
          * 有限会社ジェナイトミュージックファクトリー ( [http://zmf.co.jp/](http://zmf.co.jp/) )
          #### 企画/制作
          * LIVE HOUSE 浦和ナルシス
          #### 問い合わせ
          * LIVE HOUSE 浦和ナルシス
            * TEL:048-824-8771
          #### 備考
          * お客様の撮影機器・録音機器の持込は禁止となります。
          * ホール内への飲食物の持込は禁止です。

    .row
      .col-md-6.col-md-offset-3
        hr
        a(href="http://cruel-reason.com/") TOPへ戻る

    //------------------------------------
    // JS Library
    //------------------------------------
    script(type='text/javascript' src='lib/bootstrap-3.3.6-dist/js/bootstrap.min.js')
    script(type='text/javascript' src='./index.js')
